import multiprocessing as mp
from queue import Queue
import threading

def {{func_name}}_parallel_tip({{func_args|join(', ')}}):
    """Pipeline TIP version of {{func_name}}."""
    stage_workers = [mp.cpu_count() for _ in range({{stage_count}})]

    {% for stage_num in range(1, stage_count+1) %}
    def stage{{stage_num}}_function(in_q, out_q, nw):
        def worker():
            while True:
                item = in_q.get()
                if item is None:
                    in_q.put(None)
                    break
{% for line in stage_bodies[stage_num-1] %}
                {{ line }}
{% endfor %}
                out_q.put(item)

        threads = []
        for _ in range(nw):
            t = threading.Thread(target=worker)
            t.daemon = True
            t.start()
            threads.append(t)
        for t in threads:
            t.join()
        out_q.put(None)
    {% endfor %}

    queues = [mp.Queue() for _ in range({{stage_count}} + 1)]
    procs = []

    {% for stage_num in range(1, stage_count+1) %}
    p = mp.Process(
        target=stage{{stage_num}}_function,
        args=(queues[{{stage_num-1}}], queues[{{stage_num}}], stage_workers[{{stage_num-1}}])
    )
    p.start()
    procs.append(p)
    {% endfor %}

    for item in {{func_args[0]}}:
        queues[0].put(item)
    queues[0].put(None)

    results = []
    while True:
        out = queues[-1].get()
        if out is None:
            break
        results.append(out)

    for p in procs:
        p.join()
    return results

if __name__ == '__main__':
    print({{func_name}}_parallel_tip({{func_args[0]}}))
